/* Register page */
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70hv;
    flex-direction: column;
    margin-top: 30px;
}

.form-container form{
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5%;
}

.form-container form .title{
    text-align: center;
    margin-bottom: 15px;
    font-weight:bold;
    font-family: "Playfair Displa" ,serif;
}

.form-container form input{
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.form-container form button{
    border: 1px solid var(--title-color);
    border-radius: 0;
    background-color:var(--title-color);
    color: white;
    width: 250px;
}

.form-container form button:hover{
    border: 1px solid var(--title-color-dark);
    background-color: var(--title-color-dark);
    color: #fff;
}