@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
.carousel-image-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.carousel-image {
  display: block;
  width: 100%;
}

.carousel-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(45deg, rgba(0, 70, 66, 0.75), rgba(0, 0, 0, 0.1));
}

.carousel-text {
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 2 !important;
  color: white;
  font-size: 24px;
  /* Additional styling as needed */
}

.Feature-Container {
  margin: 2rem 3rem;
}

.Feature-Container span {
  display: inline-block;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}
.Feature-Container h1 {
  margin: 25px;
  color: var(--title-color);
  text-align: center;
  font-size: 45px;
margin: 25px;
color: var(--title-color);
text-align: center;
font-size: 45px;
}

.Feature-Container h3 {
  margin: 25px;
  color: var(--title-color);
  text-align: center;
  font-size: 45px;
}

.Feature-Container div {
  display: flex;

  align-items: center;
  justify-content: center;
}
.container-genz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-genz p{
  font-size: 19px;
  text-align: center;
}
.container-genz span{
  display: block;
  margin: 20px 0;
}
.container-genz span:hover{
  color: var(--title-color);
}
.container-genz .highlight{
  color: var(--title-color);
  text-align: center;
  font-family: "Dancing Script", cursive;
} 
.products h1{

  color: var(--title-color);
}
.all-product{
  display: flex;
}
.all-product .container-cat-fil{
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--title-color);
  width: 400px!important;
  color: var(--container-color);
  padding: 10px;
}
.container-cat-fil button{
  color: var(--title-color)!important;
  background-color: var(--container-color);
  margin: 10px;
}
.products .subtitle {
  display: inline-block;
  text-align: center;
  display: block;
  margin-bottom: 1rem;
}
.products{
  padding: 0 50px;
}
.card {
  width: 300px!important;
}

.card_img {
  height: 250px;
}

.card p {
  margin: 0;
}

.card .btn {
  background-color: var(--title-color);
  color: var(--container-color);
}
@media (max-width:1256px) {
  .all-product{
    flex-direction: column;

  }
  .all-product .container-cat-fil{
    flex-direction: row;

  }
  .container-cat-fil div{
    width: 100%;
  }
}
@media (max-width:1000px) {
  .Feature-Container div{
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 576px) {
  .all-product .container-cat-fil{
    flex-direction: column;
    width: 100!important;
  }
  .products .row{
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .carousel-image{
    height: 250px;
  }
}
/* product-details */


.product-details-container .main-container {
  display: flex;
  padding: 50px 100px;
  padding-top: 50px;
}

.main-container .img-container1 {
  margin: 0 10px;
}

.img-container1 img {
  width: 350px;
  height: 500px;
  border-radius: 10px;
}

.main-container .text {
  padding: 0 30px;
}

.main-container .text h1 {
  margin: 25px;
  color: black;
  font-size: 45px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.main-container .text h1::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -15px;
  width: 100px;
  height: 10px;
  border-radius: 20px;
  background-color: var(--title-color);
}

.main-container .text button {
  background-color: var(--title-color);
  border: 1px solid var(--title-color);
  margin-top: 10px;
}

.similar-product {
  text-align: center;
}

.similar-product p {
  font-size: 20px;
}

.similar-product h1 {
  margin: 25px;
  color: black;
  font-size: 45px;
  position: relative;
  display: inline-block;
  text-align: center !important;
}

.similar-product h1::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -15px;
  width: 100px;
  height: 10px;
  border-radius: 20px;
  background-color: var(--title-color);
}

.p-container {
  display: flex;
  padding: 30px 100px;
}

/* Breakpoints */

@media screen and (max-width: 992px) {
  .product-details-container .main-container {
    padding: 50px;
  }
}

@media screen and (max-width: 768px) {
  .product-details-container .main-container {
    flex-direction: column;
    align-items: center;
  }
  .p-container{
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .img-container1 img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
  }

  .similar-product h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 350px) {}